ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul,
li,
div {
    box-sizing: border-box;
}

h4 {
    font-weight: normal;
    margin: 0;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.course-container {
    width: 1200px;
    margin: 100px auto;  
}

.course-container .course-list {
    width: 1230px;
    margin-left: -18px;
    
}

.course-container .course-list .course-item {
    position: relative;
    float: left;
    width: 236px;
    height: 221px;
    padding: 7px 7px 10px;
    margin-left: 9px;
    border: 1px solid transparent;
}

.course-container .course-list .course-item:hover {
    border-color: #ddd;
    box-shadow: 1px 1px 2px 1px #ececec;
}

.course-container .course-list .course-item .course-link {
    width: 220px;
    height: 124px;
}

.course-container .course-list .course-item .course-link img {
    width: 100%;
}

.course-container .course-list .course-item .course-tip {
    position: absolute;
    top: 106px;
    left: 7px;
    width: 220px;
    height: 24px;
}

.course-container .course-list .course-item .course-tip .opacity-block {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    filter: alpha(opacity=60); 
}

.course-container .course-list .course-item .course-tip .content-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-left: 2px;
    line-height: 24px;
    font-size: 12px;
    color: #fff;
}

.course-container .course-list .course-item .course-title {
    font-size: 14px;
    height: 40px;
    margin-bottom: 8px;
}

.course-container .course-list .course-item .course-title:hover {
    color: #23b8ff;
}

.course-container .course-list .course-item .course-info {
    width: 220px;
    height: 24px;
}

.course-container .course-list .course-item .course-info .info-price {
    float: left;
    line-height: 24px;
    font-size: 14px;
    color: #e85308;

}

.course-container .course-list .course-item .course-info .info-users {
    float: right;
    line-height: 24px;
    margin-left: 10px;
    font-size: 12px;
    color: #999;
}

.course-container .course-list .course-item .course-info .info-badge {
    margin-left: 5px;
    font-size: 10px;
    padding: 1px;
    color: #e85308;
    border: 1px solid #e85308;
    border-radius: 2px;
}

.course-container .course-list .course-item .course-info .info-price.free {
    color: #5fb41b;
}
